site_name: 自分用ノート

theme:
  name: material
  language: ja
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

markdown_extensions:
  # 基本機能
  - toc:
      permalink: true
      toc_depth: 3
  - admonition
  - footnotes
  - meta
  - tables
  - abbr
  
  # PyMdown Extensions
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true

plugins:
  - search:
      lang: ja

extra_javascript:
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
